body {
    background-color: aquamarine;
}

#gameModeSelected > h1 {
    font-size: 5rem;
}


#winnerAnnounced{
    font-size: 2rem;
}

/* Used for styling divs */
.centerStuff {
    text-align: center;
    margin: 30px;
}


/* Score Count Styling */
.scoreStyling {
    font-size: 100px;
}

#actions {
    display: flex;
    justify-content: space-around;
}

/* Action Image Styling*/
#actionImage {
    display: flex;
    justify-content: space-evenly;
}

.setImageSize{
    height: 200px;
    width: 200px;
}

